<h1>ui primitives</h1>


<h2>Listbox</h2>

<ul uiListbox #listbox="listbox">
  <li uiOption value="garlic">Garlic</li>
  <li uiOption value="onion">Onion</li>
  <li uiOption value="tomato">Tomato</li>
</ul>

<hr>

<p>Selected value: {{listbox.value()}}</p>
<p>Option Id: {{listbox.uiState.activeDescendantId()}}</p>


<h2>Menu</h2>

<ul uiMenu #menu="menu">
  <li>
    <button uiMenuItem>Garlic</button>
  </li>
  <li>
    <button uiMenuItem>Onion</button>
  </li>
  <li>
    <button uiMenuItem>Tomato</button>
  </li>
</ul>

<hr>

<p>Item Id: {{menu.uiState.activeDescendantId()}}</p>
